{% extends "base.twig" %}

{% block title %}Cart{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/lib/jessepollak/card.css">
{% endblock %}
{% block content %}
    <div class="form-container">
        <div class="card-wrapper"></div>
        <form action="/make-order" method="post" class="co-form">
            <h2>Payment Method</h2>
            <div class="co-row" id="co-row-1">
                <input type="text" name="number" placeholder="Valid Card Number" required>
            </div>
            <div class="co-row">
                <input type="text" name="last-name" placeholder="Last Name" required/>
                <input type="text" name="first-name" placeholder="First Name" required/>
            </div>
            <div class="co-row">
                <input type="text" name="expiry" placeholder="MM/YY" required/>
                <input type="text" name="cvc" placeholder="CVC" required/>
            </div>

            <div class="map-container map-container-live">
                <iframe
                        class="destination-map"
                        width="100%"
                        height="100%"
                        style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWN6IL8paR0hWUg9Gy0QBx0JC5oQRbVP4&q=,," allowfullscreen>
                </iframe>
            </div>
            <h2>Destination</h2>
            <input onchange="updateMap()" type="text" placeholder="Country" name="country" id="inp-country" required>
            <input onchange="updateMap()" type="text" placeholder="City" name="city" id="inp-city" required>
            <input onchange="updateMap()" type="text" placeholder="Street" name="street" id="inp-street" required>
            <input onchange="updateMap()" type="number" placeholder="Zip Code" name="zip-code" id="inp-zip" required>
            <input type="submit" value="Proceed">
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="/js/lib/jessepollak/card.js"></script>
    <script>
        var card = new Card({
            form: 'form',
            container: '.card-wrapper',

            formSelectors: {
                nameInput: 'input[name="first-name"], input[name="last-name"]'
            }
        });
    </script>
    <script src="/js/liveMap.js"></script>
{% endblock %}
