{% extends "base.twig" %}

{% block title %}Forgot Password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="css/user-form.css">
    <link rel="stylesheet" href="css/validationCode.css">
{% endblock %}
{% block favicon %}{% if cartAmount is not same as(0) %}-cart{% endif %}{% endblock %}
{% block cartAmount %}
    {% if cartAmount is same as(0) %}
    {% else %}
        {{ cartAmount }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if not account and validCode == false %}
        <form action="/forgot-password/sendCode" method="post" class="u-form">
            <h1 class="u-title">Reset Password</h1>
            <input class="u-input" type="text" placeholder="Email" name="email" autocomplete="off">
            <button class="u-button" type="submit">Send reset code</button>
        </form>
    {% elseif validCode == false %}
        <form class="otc" method="post" name="one-time-code" action="/forgot-password/compareCode">
            <fieldset>
                <legend>Validation Code</legend>
                <label for="otc-1">Number 1</label>
                <label for="otc-2">Number 2</label>
                <label for="otc-3">Number 3</label>
                <label for="otc-4">Number 4</label>
                <label for="otc-5">Number 5</label>
                <label for="otc-6">Number 6</label>
                <div>
                    <input type="number" name="otc-1" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" id="otc-1" required>
                    <input type="number" name="otc-2" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-2" required>
                    <input type="number" name="otc-3" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-3" required>
                    <input type="number" name="otc-4" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-4" required>
                    <input type="number" name="otc-5" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-5" required>
                    <input type="number" name="otc-6" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-6" required>
                </div>
            </fieldset>
            <input class="u-button" type="submit" value="Check">
        </form>
    {% else %}
        <form action="/forgot-password/update-password" method="post" class="u-form">
            <h1>Update password</h1>
            <input onmouseover="showPassword('#password-input')" onmouseout="hidePassword('#password-input')"  class="u-input" type="password" placeholder="Password" name="password" autocomplete="off">
            <input onmouseover="showPassword('#password-input')" onmouseout="hidePassword('#password-input')" class="u-input" type="password" placeholder="Confirm Password" name="cpassword" autocomplete="off">
            <button class="u-button" type="submit">Update password</button>
        </form>
    {% endif %}
    <div class="fixed-bottom">
        <a href="/log-in" class="u-login-button">Log in</a>

        <form action="/forgot-password/cancel" method="post">
            <input type="submit" value="Cancel" class="u-login-button clickable">
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="/js/validationCode.js"></script>
    <script>
        showPassword = (element) => {
            let x = document.querySelector(element);
            x.type = 'text';
        }
        hidePassword = (element) => {
            let x = document.querySelector(element);
            x.type = 'password';
        }
    </script>
{% endblock %}